<ion-header no-shadow no-border class="ion-no-border">
    <ion-toolbar #toolbar>
      <ion-buttons slot="start">
        <ion-back-button style="content: url('../assets/icon/Arrow - Left 2.svg'); zoom: 0.8;"></ion-back-button>
      </ion-buttons>
      <ion-title class="title-page">Agenda tu cita</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" [scrollEvents] = "true"  [appHideHeader] = "toolbar">

    <ion-row>
        <div class="container">
          <ul class="progressbar">
     
           <li></li>
           <li class="complete"></li>
           <li class="complete"></li>
           <li class="active"></li>
     
          </ul>
        </div>
      </ion-row>
      <ion-row>
        <div style="width: 100%; text-align: center;">
          <ion-label class="label-page">Detalle</ion-label>
        </div>
    </ion-row>

    <ion-row style="margin-top: 20px;">
      <ion-label class="label-input">Verificar</ion-label>
    </ion-row>
    <ion-row>
      <ion-card class="card-items-perfil">
  
        <ion-item class="item-menu" lines = "none" (click) = "expandirTratamiento(1);">
          <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/Calendar.svg" ></ion-icon>
          <ion-label class="label-menu">Informacion de cita</ion-label>
          <ion-icon style="color: #708070;" [name]="icon1"  slot="end"></ion-icon>
        </ion-item>
  
            <ion-list *ngIf = "lista1" class="list-detalle ">
              <ion-item class="item-list" lines = "none" (click) = "irNuevaCitaHorario();" >
                <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/flor.svg" ></ion-icon>
                <ion-label class="label-list"> {{nuevaCita.tratamiento.nombre}} </ion-label>
              </ion-item>
              <ion-item class="item-list" lines = "none" (click) = "irNuevaCitaHorario();" >
                <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/reloj.svg" ></ion-icon>
                <ion-label class="label-list">{{nuevaCita.fecha}} {{nuevaCita.horario.hora}} </ion-label>
              </ion-item>
              <ion-item class="item-list" lines = "none" (click) = "irNuevaCitaHorario();" >
                <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/gps.svg" ></ion-icon>
                <ion-label class="label-list">{{nuevaCita.ubicacion.direccion}}</ion-label>
              </ion-item>
              <ion-item class="item-list" lines = "none" (click) = "irNuevaCitaHorario();" >
                <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/maleta.svg" ></ion-icon>
                <ion-label class="label-list"> {{(nuevaCita.modalidad == "1") ? 'Local':'Domicilio'}} </ion-label>
              </ion-item>
              <ion-item class="item-list" lines = "none" (click) = "irNuevaCitaHorario();" >
                <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/face.svg" ></ion-icon>
                <ion-label class="label-list">1 persona</ion-label>
              </ion-item>
            </ion-list>
      
        <ion-item class="item-menu" lines = "none" (click) = "expandirTratamiento(2);">
          <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/Person.svg" ></ion-icon>
          <ion-label class="label-menu">Informacion de cliente</ion-label>
          <ion-icon style="color: #708070;" [name]="icon2" slot="end"></ion-icon>
        </ion-item>
  
        
            <ion-list *ngIf = "lista2" class="list-detalle">
              <ion-item class="item-list" lines = "none" (click) = "irNuevaCitaHorario();">
                <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/nota.svg" ></ion-icon>
                <ion-label class="label-list">{{nuevaCita.usuario.nombres}} {{nuevaCita.usuario.apellidos}}</ion-label>
              </ion-item>
              <ion-item class="item-list" lines = "none" (click) = "irNuevaCitaHorario();">
                <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/phone.svg" ></ion-icon>
                <ion-label class="label-list">{{nuevaCita.usuario.celular}}</ion-label>
              </ion-item>
              <ion-item class="item-list" lines = "none" (click) = "irNuevaCitaHorario();">
                <ion-icon slot="start" src= "../../assets/nuevaCitaDetalle/carta.svg" ></ion-icon>
                <ion-label class="label-list">{{nuevaCita.usuario.email}}</ion-label>
              </ion-item>
          </ion-list>
      
      </ion-card>
    </ion-row>

    <ion-row>
      <div style="width: 100%; align-content: center; text-align: center;">
          <ion-button class="button-continuar" type="button" (click) = "registrarCita()">
              <ion-label class="label-button-continuar">Continuar</ion-label>
          </ion-button>
      </div>
  </ion-row>
  </ion-content>