<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon class="icon-tab" src = "../assets/tabs/homegris.svg"></ion-icon>
      <ion-label class="label-tab">inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button (click) = "irNuevaCita();">
      <ion-icon class="icon-tab" src = "../assets/tabs/agregargris.svg"></ion-icon>
      <ion-label class="label-tab">Nueva cita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="misCitas">
      <ion-icon class="icon-tab" src = "../assets/tabs/Calendargris.svg"></ion-icon>
      <ion-label class="label-tab">Mis citas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta">
      <ion-icon class="icon-tab" src = "../assets/tabs/profile gris.svg"></ion-icon>
      <ion-label class="label-tab">Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
