
<ion-content [fullscreen]="true">
  <ion-row>
      <img src = '../../../assets/modals/sad 1.svg' style="margin-top: 10%; margin-left: auto; margin-right: auto;">
  </ion-row>
  <ion-row>
      <div style="width: 100%; text-align: center; margin-top: 4%;">
        <ion-label>
            <h2 class="label-modal"><b>El correo o la contraseña que ingresaste son incorrectos</b></h2>
        </ion-label>
      </div>

  </ion-row>
  <ion-row>
      <div style="width: 100%; text-align: center; margin-top: 3%;">
        <ion-label>
            <h2 class="label-modal2">Por favor, vuelve a intentar. Si olvidaste tu contraseña puedes crear una nueva.</h2>
        </ion-label>
      </div>
  </ion-row>

  <ion-row>
    <div style="width: 100%; align-content: center; text-align: center; margin-top: 3%;">
        <ion-button class="button-modal-password">
            <ion-label class="label-button-password">Olvidé mi contraseña</ion-label>
        </ion-button>
    </div>
</ion-row>

<ion-row>
    <div style="width: 100%; align-content: center; text-align: center;">
        <ion-button class="button-modal-try" (click) = "intentarNuevamente()">
            <ion-label class="label-button-try">Intentar nuevamente</ion-label>
        </ion-button>
    </div>
</ion-row>
</ion-content>