@font-face{
    font-family: 'Roboto-Black';
    src: url('../assets/font-family/Roboto/Roboto-Black.ttf')
  }


  @font-face{
    font-family: 'Roboto-Regular';
    src: url('../assets/font-family/Roboto/Roboto-Regular.ttf')
  }

  @font-face{
    font-family: 'Roboto-Medium';
    src: url('../assets/font-family/Roboto/Roboto-Medium.ttf')
  }

  @font-face{
    font-family: 'SFProText-Regular';
    src: url('../assets/font-family/SF-PRO-Text/SFProText-Regular.ttf')
  }