<ion-content [fullscreen]="true">
    <div style="margin-top: 35%;">
        <ion-row>
            <img src = '../../../assets/modals/check-circle.svg' style="margin-top: 10%; margin-left: auto; margin-right: auto;">
        </ion-row>
        <ion-row>
            <div style="width: 100%; text-align: center; margin-top: 4%;">
              <ion-label>
                  <h2 class="label-modal"><b>¡Tu cita ha sido reservada!</b></h2>
              </ion-label>
            </div>
      
        </ion-row>
        <ion-row>
            <div style="width: 100%; text-align: center; margin-top: 3%;">
              <ion-label>
                  <h2 class="label-modal2">Te enviaremos un mensaje de texto a tu celular y  la confirmación de la cita  a tu correo electrónico.
                    Gracias por su preferencia.</h2>
              </ion-label>
            </div>
        </ion-row>
      
        <ion-row>
          <div style="width: 100%; align-content: center; text-align: center; margin-top: 3%;">
              <ion-button class="button-modal-password" (click) = "irCitas()">
                  <ion-label class="label-button-password">Listo</ion-label>
              </ion-button>
          </div>
      </ion-row>
    </div>

  

  </ion-content>