<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="title-page">
      Mis citas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

      <ion-segment style="margin-top: 20%; --background-color: #ffffff;" (ionChange)="cambiarListaCitas($event)" [(ngModel)]="opcionSeleccionada">
        <ion-segment-button class="button-segment" value="1">
          <ion-label class="label-segment">Próximas citas</ion-label>
        </ion-segment-button>
        <ion-segment-button  class="button-segment" value="2">
          <ion-label class="label-segment">Historial de citas</ion-label>
        </ion-segment-button>
      </ion-segment>

  <ion-list class="list-page-citas">
    <ion-item class="item-citas" *ngFor = "let cita of listaVisible">
      <div style=" width: 10%; height: 80%;">
        <ion-col>
          <ion-label class="fecha-item"> {{cita.fecha}} </ion-label>
          <p class="mes-item">{{cita.mes}}.</p>
        </ion-col>
      </div>
      <div style=" width: 100%; height: 80%;">
        <ion-col>
          <p class="mod-item">{{cita.modalidad}} </p>
          <ion-label class="trat-item">{{cita.tratamiento}} </ion-label>
          <p class="hora-item"><ion-icon src = "../assets/misCitas/schedule_24px.svg"></ion-icon>{{cita.hora}} </p>
        </ion-col>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
