<ion-header no-shadow no-border class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button style="content: url('../assets/icon/Arrow - Left 2.svg'); zoom: 0.8;"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content no-bounce [fullscreen]="true">
 
    <ion-row>
          <div style="width: 100%; text-align: center; padding-top: 25%;">
              <ion-label >
                  <h2 class="label-page"><b>Restablece tu contraseña</b></h2>
              </ion-label>
          </div>
    </ion-row>

    <ion-row>
        <div style="width: 100%; text-align: center; padding-top: 3%;">
            <ion-label >
                <h3 class="label-page2">Con esta nueva contraseña podras ingresar a tu cuenta.</h3>
            </ion-label>
        </div>
  </ion-row>
  
  <ion-row >
    <ion-label class="label-input">Crea una contraseña</ion-label>
    </ion-row>
    <ion-row>
    <div style="width: 100%; text-align: center; align-content: center;">
        <ion-item class="input-email" lines="none">
            <ion-input type="text" class="input-text" placeholder="Ingresa una contraseña"></ion-input>
          </ion-item>
    </div>

    </ion-row>

    <ion-row>
        <div style="width: 100%; align-content: center; text-align: center; padding-top: 80%;">
            <ion-button class="button-modal-enviar" (click)="guardar()">
                <ion-label class="label-button-enviar">Restablecer contraseña</ion-label>
            </ion-button>
        </div>
    </ion-row>

</ion-content>

<ion-footer class="ion-no-border" no-shadow no-border>
    <ion-toolbar>

    </ion-toolbar>
  </ion-footer>