<ion-header no-shadow no-border class="ion-no-border">
  <ion-toolbar #toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="content: url('../assets/icon/Arrow - Left 2.svg'); zoom: 0.8;"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-page">Agenda tu cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents] = "true"  [appHideHeader] = "toolbar">

  <ion-row>
    <div class="container">
      <ul class="progressbar">
 
       <li class="active"></li>
       <li></li>
       <li></li>
       <li></li>
 
      </ul>
    </div>
  </ion-row>

   <ion-row>
      <div style="width: 100%; text-align: center;">
        <ion-label class="label-page">Tratamiento</ion-label>
      </div>
   </ion-row>

   <ion-row>
    <ion-label class="label-input">Buscar</ion-label>
  </ion-row>
  <ion-row>
    <div style="width: 100%;">
            <ion-searchbar class="searchbar-input" placeholder="Ej:Depilación de piernas" (ionChange)="buscarTratamiento($event)"></ion-searchbar>    
    </div>
  </ion-row>
  <ion-list [hidden]="ocultarlista == true" class="ion-list">
    <ion-item *ngFor="let item of tratamientos" tappable (click)="irNuevaCitaHorario(item)">
      {{ item.nombre }}
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-label class="label-input">Seleccionar</ion-label>
  </ion-row>
  <ion-row>
    <ion-card class="card-items-perfil">

      <div  *ngFor = "let tipo of tiposTratamientos">
        <ion-item class="item-menu" lines = "none" (click) = "expandir(tipo);" >
          <ion-label class="label-menu">{{tipo.nombre}}</ion-label>
          <ion-icon style="color: #708070;" [name]="tipo.icono"  slot="end"></ion-icon>
        </ion-item>
  
            <ion-list *ngIf = "tipo.seleccionado"  class="list-tratamiento">
              <ion-item class="item-list" *ngFor="let t of tipo.tratamiento" lines = "none" (click) = "irNuevaCitaHorario(t);" >
                <ion-label class="label-list" slot="start">{{t.nombre}} </ion-label>
                <ion-note  slot="end" class="label-tiempo">{{t.duracion}}min </ion-note>
              </ion-item>
            </ion-list>
      </div>
      
    <!--
      <ion-item class="item-menu" lines = "none" (click) = "expandirTratamiento(2);">
        <ion-label class="label-menu">Embellecimiento facial - 60m.</ion-label>
        <ion-icon style="color: #708070;" [name]="icon2" slot="end"></ion-icon>
      </ion-item>

      
          <ion-list *ngIf = "lista2"  class="list-tratamiento">
            <ion-item class="item-list" *ngFor="let tratamiento of listallena2" lines = "none" (click) = "irNuevaCitaHorario(tratamiento);">
            <ion-label class="label-list">{{tratamiento.nombre}}</ion-label>
            </ion-item>
        </ion-list>
    
      <ion-item class="item-menu" lines = "none" (click) = "expandirTratamiento(3);">
        <ion-label class="label-menu">Depilación - 60m.</ion-label>
        <ion-icon style="color: #708070;" [name]="icon3" slot="end"></ion-icon>
      </ion-item>

      
          <ion-list *ngIf = "lista3"  class="list-tratamiento">
            <ion-item class="item-list" *ngFor="let tratamiento of listallena3" lines = "none" (click) = "irNuevaCitaHorario(tratamiento);">
            <ion-label class="label-list">{{tratamiento.nombre}}</ion-label>
            </ion-item>
        </ion-list>

      <ion-item class="item-menu" lines = "none" (click) = "expandirTratamiento(4);">
        <ion-label class="label-menu">Microblanding - 2h.</ion-label>
        <ion-icon style="color: #708070;" [name]="icon4" slot="end"></ion-icon>
      </ion-item>

      
          <ion-list *ngIf = "lista4"  class="list-tratamiento">
            <ion-item class="item-list" *ngFor="let tratamiento of listallena4" lines = "none" (click) = "irNuevaCitaHorario(tratamiento);">
            <ion-label class="label-list">{{tratamiento.nombre}}</ion-label>
            </ion-item>
        </ion-list>

      <ion-item class="item-menu" lines = "none" (click) = "expandirTratamiento(5);">
        <ion-label class="label-menu">Peeling químico - 60m.</ion-label>
        <ion-icon style="color: #708070;" [name]="icon5" slot="end"></ion-icon>
      </ion-item>

      
          <ion-list *ngIf = "lista5"  class="list-tratamiento">
            <ion-item class="item-list" *ngFor="let tratamiento of listallena5" lines = "none" (click) = "irNuevaCitaHorario(tratamiento);">
            <ion-label class="label-list">{{tratamiento.nombre}}</ion-label>
            </ion-item>
        </ion-list>

      <ion-item class="item-menu" lines = "none" (click) = "expandirTratamiento(6);">
        <ion-label class="label-menu">Masajes - 60m.</ion-label>
        <ion-icon style="color: #708070;" [name]="icon6" slot="end"></ion-icon>
      </ion-item>

          <ion-list *ngIf = "lista6" class="list-tratamiento">
            <ion-item class="item-list" *ngFor="let tratamiento of listallena6" lines = "none" (click) = "irNuevaCitaHorario(tratamiento);">
            <ion-label class="label-list">{{tratamiento.nombre}}</ion-label>
            </ion-item>
           
        </ion-list>
     -->
    </ion-card>
  </ion-row>
   
</ion-content>
