<ion-header no-shadow no-border class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="content: url('../assets/icon/Arrow - Left 2.svg'); zoom: 0.8;"></ion-back-button>
    </ion-buttons>
    <ion-title class="title-page">Agenda tu cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <div class="container">
      <ul class="progressbar">
 
       <li class="active"></li>
       <li></li>
       <li></li>
       <li></li>
 
      </ul>
    </div>
  </ion-row>

   <ion-row>
      <div style="width: 100%; text-align: center;">
        <ion-label class="label-page">Tratamiento</ion-label>
      </div>
   </ion-row>

   <ion-row>
    <ion-label class="label-input">Buscar</ion-label>
  </ion-row>
  <ion-row>
    <div style="width: 100%;">
            <ion-searchbar class="searchbar-input" placeholder="Filter Schedules"></ion-searchbar>    
    </div>
  </ion-row>
  <ion-row>
    <ion-label class="label-input">Seleccionar</ion-label>
  </ion-row>
  <ion-row>
    <ion-card class="card-items-perfil">
      <ion-item class="item-menu" lines = "none">
        <ion-label class="label-menu">Mi puntaje</ion-label>
        <ion-icon style="color: #708070;" [name]="icon1"  slot="end"></ion-icon>
      </ion-item>

      <ion-list class="list-tratamiento">
         <ion-item class="item-list" lines = "none">
          <ion-label class="label-list">Tratamiento -60m</ion-label>
         </ion-item>
      </ion-list>
    
      <ion-item class="item-menu" lines = "none">
        <ion-label class="label-menu">Mis datos</ion-label>
        <ion-icon style="color: #708070;" [name]="icon2" slot="end"></ion-icon>
      </ion-item>

      
      <ion-list class="list-tratamiento">
        <ion-item class="item-list" lines = "none">
         <ion-label class="label-list">Tratamiento -60m</ion-label>
        </ion-item>
     </ion-list>
    
      <ion-item class="item-menu" lines = "none">
        <ion-label class="label-menu">Cerrar Sesión</ion-label>
        <ion-icon style="color: #708070;" [name]="icon3" slot="end"></ion-icon>
      </ion-item>

      
      <ion-list class="list-tratamiento">
        <ion-item class="item-list" lines = "none">
         <ion-label class="label-list">Tratamiento -60m</ion-label>
        </ion-item>
     </ion-list>

      <ion-item class="item-menu" lines = "none">
        <ion-label class="label-menu">Cerrar Sesión</ion-label>
        <ion-icon style="color: #708070;" [name]="icon4" slot="end"></ion-icon>
      </ion-item>

      
      <ion-list class="list-tratamiento">
        <ion-item class="item-list" lines = "none">
         <ion-label class="label-list">Tratamiento -60m</ion-label>
        </ion-item>
     </ion-list>

      <ion-item class="item-menu" lines = "none">
        <ion-label class="label-menu">Cerrar Sesión</ion-label>
        <ion-icon style="color: #708070;" [name]="icon5" slot="end"></ion-icon>
      </ion-item>

      
      <ion-list class="list-tratamiento">
        <ion-item class="item-list" lines = "none">
         <ion-label class="label-list">Tratamiento -60m</ion-label>
        </ion-item>
     </ion-list>

      <ion-item class="item-menu" lines = "none">
        <ion-label class="label-menu">Cerrar Sesión</ion-label>
        <ion-icon style="color: #708070;" [name]="icon6" slot="end"></ion-icon>
      </ion-item>

      <ion-list class="list-tratamiento">
        <ion-item class="item-list" lines = "none">
         <ion-label class="label-list">Tratamiento -60m</ion-label>
        </ion-item>
     </ion-list>
    
    </ion-card>
  </ion-row>
   
</ion-content>
