

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-slides pager="true" [options]="slideOpts" style="padding-top: 5%;">
      <ion-slide>
        <img src = "../../assets/inicio/1.png">
    
      </ion-slide>
      <ion-slide>
        <img src = "../../assets/inicio/1.png">
     
      </ion-slide>
      <ion-slide>
        <img src = "../../assets/inicio/1.png">
     
      </ion-slide>
    </ion-slides>
  </ion-row>

  <ion-row>
    <div style="width: 100%;">
      <ion-card class="card-puntos">
        <ion-item class="item-card" lines="none">
          <img src = '../../assets/inicio/espiga.svg' style="margin-right: 5%;">
          <ion-label>
            <h2> {{nombreusuario}} </h2>
            <p>Tienes {{puntos}} puntos</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </div>
  </ion-row>

  <ion-row style="margin:5%">
    <ion-col>
      <ion-card class="card-action">
        <ion-item lines="none" class="item-card-action">
          <ion-icon src = '../../assets/inicio/regalo.svg' style="margin-right: auto; margin-left: auto;"></ion-icon>
        </ion-item>
    
        <ion-row style="width: 100%; margin-top: 10px;">
          <ion-label class="label-item-action">Ver premios</ion-label>
        </ion-row>
     
        
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="card-action">
        <ion-item lines="none" class="item-card-action">
          <ion-icon src = '../../assets/inicio/cita.svg' style="margin-right: auto; margin-left: auto;"></ion-icon>
        </ion-item>
        <ion-row style="width: 100%; margin-top: 10px;">
          <ion-label  class="label-item-action">Nueva cita</ion-label>
        </ion-row>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card (click) = "click()" class="card-action">
        <ion-item lines="none" class="item-card-action">
            <ion-icon src = '../../assets/inicio/Calendarblanco.svg' style="margin-right: auto; margin-left: auto;"></ion-icon>       
        </ion-item>
        <ion-row style="width: 100%; margin-top: 10px;">
          <ion-label class="label-item-action">Mis citas</ion-label>
        </ion-row>
      </ion-card>
    </ion-col>
    
  </ion-row>



</ion-content>
