<ion-header no-shadow no-border class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button style="content: url('../assets/icon/Arrow - Left 2.svg'); zoom: 0.8;"></ion-back-button>
      </ion-buttons>
      <ion-title class="title-page">
        Mi puntaje
    </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content no-bounce [fullscreen]="true">
 
  <ion-row >
    <ion-label class="puntaje-titulo"><b>Puntaje total:</b> </ion-label><ion-label class="puntaje-total">{{puntajeTotal}} puntos</ion-label>
    </ion-row>
      <ion-list class="list-puntaje">
        <ion-item class="item-puntaje" lines="none" *ngFor="let item of listaPuntos">
          <ion-col slot="start">
            <ion-row>
              <ion-label class="titulo">{{item.nombre}}</ion-label>
            </ion-row>  
            <ion-row>
              <ion-label class="fecha">{{item.fecha}}</ion-label>
            </ion-row>  
          </ion-col>
          <ion-col slot="end">
            <ion-row>
              <ion-label class="derecha" >{{item.puntos}}</ion-label>
            </ion-row>  
            <ion-row>
              <ion-label class="derecha">PTS</ion-label>
            </ion-row>  
          </ion-col>
        </ion-item>
      </ion-list>


</ion-content>

<ion-footer class="ion-no-border" no-shadow no-border>
    <ion-toolbar>

    </ion-toolbar>
  </ion-footer>